.navbar {
    width: 100%;
    grid-area: 'navbar';
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    margin: 2rem 0 2rem 0;
    padding: 2rem 0 2rem 0;
}

.name {
    justify-self: start;
    align-self: center;
    font-size: 2em;
    margin: 0;
    padding: 0;
}

nav {
    justify-self: end;
    align-self: center;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 2rem;
    align-items: center;
    margin: 0;
    padding: 0;
}

a {
    color: #FFC5B1;
    text-decoration: none;
}

nav li {
    list-style: none;
}

nav a[aria-current="page"] {
    font-weight: bold;
    text-decoration: underline #F68185 solid 1px;
    text-underline-offset: 0.5rem;
}