.navbar {
    width: 100%;
    grid-area: 'navbar';
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
    gap: 1rem;
    margin: 2rem 0 2rem 0;
    padding: 2rem 0 2rem 0;
    align-items: center;
}

.name {
    color: #FFC5B1;
    justify-self: start;
    font-size: 2em;
    margin: 0;
    padding: 0;
}

nav {
    justify-self: end;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 1rem;
    margin: 0;
    padding: 0;
}

a {
    color: #F7ECE1;
    text-decoration: none;
}

nav li {
    list-style: none;
}

nav a[aria-current="page"] {
    color: #FFC5B1;
    font-weight: bold;
    text-decoration: underline #F68185 solid 1px;
    text-underline-offset: 0.5rem;
}

@media only screen and (max-width: 600px) {
    .navbar {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
    }

    nav {
        justify-self: center;
    }

    .name {
        justify-self: center;
    }

    nav ul {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 1rem;
    }

    nav li {
        justify-self: center;
    }

    nav li:first-child {
        grid-column: 1 / -1;
    }
}

@media only screen and (max-width: 1100px) {
    .navbar {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
    }

    nav {
        justify-self: center;
    }

    .name {
        justify-self: center;
    }
}